@import 'var.less';
@import 'components/navbar.less';
@import 'components/list.less';
@import 'components/details.less';
@import 'components/footer.less';

@bgcolor: @light-blue;
@text-color: @dark-blue;

body{
	height: 100%;
	background-color: #333348 !important;
}

.wrapper{
	height: auto;
	transition: height 0.5s;
	background-color: #fff !important;
	min-height: 100%;
	height: auto !important; 
	height: 100%;
}