.lightshadow{
-webkit-box-shadow: inset 15px 15px 24px -25px rgba(0,0,0,0.75);
-moz-box-shadow: inset 15px 15px 24px -25px rgba(0,0,0,0.75);
box-shadow: inset 15px 15px 24px -25px rgba(0,0,0,0.75);
}
.listshadow{
	&:first-child{
			-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
		}
		-webkit-box-shadow: inset 0px 20px 25px -28px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 20px 25px -28px rgba(0,0,0,0.75);
		box-shadow: inset 0px 20px 25px -28px rgba(0,0,0,0.75);
		
}
.list{
	padding-top: 50px;
	z-index: -1;
	min-height: 5vw;
	.post{
		// .listshadow;
		width: 100%;
		height: 200px;
		position: relative;
		border-bottom: 1px #ccc solid;
		background-color: #fff;
		.left, .right{
			display: inline-block;
		}	
		.left{
			margin-right: 200px;
			position: relative;
			height: 200px;
			float: left;
			padding: 16px 20px 8px 20px;
			.text{
				// border: 1px #ccc solid;
				vertical-align: top;
				padding: 8px 20px 10px 10px;
				height: 140px;
			}
			.viewed{
				bottom: 4px;
				position: absolute;
				color: #999;
				font-size: 12px;
				height: 30px;
				vertical-align: center;
				line-height: 30px;
				right: 90px;
				text-align: right;
					
			}
			.time{
				bottom: 4px;
				position: absolute;
				color: #999;
				font-size: 12px;
				height: 30px;
				vertical-align: center;
				line-height: 30px;
				right: 20px;
				text-align: right;
				}
			.buttons{
				display: inline-block;
				position: absolute;
				bottom: 6px;
				padding: 0 0px;
				width: inherit;
				font-size: 20px;
				line-height: 30px;
				height: 30px;
				.tooltip{
					&:after {
				    content: "";
				    position: absolute !important;
				    bottom: -6px;
				    z-index: 100;
				    border: 0 solid rgba(51, 51, 51, 0.75);
				    border-bottom: 14px solid transparent;
	    			border-left-width: 14px;
	    			left: 4px;				    
					}
    			max-width: 100px;
					border-radius: 5px 5px 5px 5px;
					padding: 6px 14px;
					font-size: 14px;
					color: white;
					background-color: #333;
					position: absolute;
					bottom: 42px;
					left: 6px;
				}
				i{
					transition: color 1s;
					position: relative;
					&:hover{
						background-color: #eee;
					}
					margin-right: 10px;
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
					padding: 6px 10px 8px 10px;
					border-top: 1px #ccc solid;
					border-left: 1px #ccc solid;
					border-right: 1px #ccc solid;
					&.required{
						-webkit-animation: firecolor 2s infinite; /* Safari 4+ */
					  -moz-animation:    firecolor 2s infinite; /* Fx 5+ */
					  -o-animation:      firecolor 2s infinite; /* Opera 12+ */
					  animation:         firecolor 2s infinite;
					}
				}
			}
		}
		.right{
			position: absolute;
			right: 0;
			// min-width: 140px;
			// width: 15%;

			float: right;
			height: 100%;
			img{
				height: 200px;
				width: 200px;
				float: right;
				height: inherit;
			}
		}
	}
}

.loading-icon{
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100vh;
	line-height: 100vh;
	font-size: 4vw;
}

@-webkit-keyframes firecolor {
  0%   { color: red; }
  50%  { color: orange;}
  100% { color: red; }
}
@-moz-keyframes firecolor {
  0%   { color: red; }
  50%  { color: orange;}
  100% { color: red; }
}
@-o-keyframes firecolor {
  0%   { color: red; }
  50%  { color: orange;}
  100% { color: red; }
}
@keyframes firecolor {
  0%   { color: red; }
  50%  { color: orange;}
  100% { color: red; }
}