<div class=' list'>
	<div ng-repeat='a in articles | filter: search as result' class="post">
		<div class='left'>
			<div class='text'>				
				<h1 article>
					<a ng-href="dashboard/p/{{a.id}}" >
						{{a.title}}			
					</a>
				</h1>
				<p>{{a.about}}</p>			
			</div>
			<div class='buttons'>
				<i class="fa fa-fire required" tooltip='Дуже важливо!'></i>
				<i class="fa fa-shield" tooltip='Воїнам АТО'></i>
				<i class="fa fa-medkit" tooltip='Лікарські засоби'></i>
				<i class="fa fa-car" tooltip="Необхідний транспорт"></i>
				<i class="fa fa-money" tooltip="Допомога грошми"></i>
			</div>
			<span class='viewed'>
			<i class="fa fa-eye"></i>
			52 
			</span>
			<span class='time'>
					2015-23-21
			</span>
		</div>
		<div class='right'>
			<img src="http://placehold.it/350x350">
		</div>
	</div>

	<div ng-if='loading' class='loading-icon'>
		<i class="fa fa-refresh fa-spin"></i>
	</div>
</div>